.dark {
    background: #313131;
    color: #00FFFF;
}

.dark .link {
    text-decoration: none;
    color: gray;
}

.dark .inp {
    border: solid 1px #00FFFF;
    background: #313131;
}
.dark .inp:hover {
    border: solid 1px #d3d3d3;
}

.dark .text-night {
    color: #00FFFF;
}
.dark .border-night {
    border: solid 1px #00FFFF;
}
.dark .btn-night {
    background: #00FFFF;
    color: white;
}
.dark .btn-night:hover {
    color: white;
}

.dark .text-fuchsia {
    color: fuchsia;
}
.dark .border-fuchsia {
    border: solid 1px fuchsia;
}
.dark .btn-fuchsia {
    background: fuchsia;
    color: white;
}
.dark .btn-fuchsia:hover {
    color: white;
}