.dark {
    background: #313131;
    color: #00FFFF;
}

.dark .link {
    text-decoration: none;
    color: gray;
}

.dark .inp {
    border: solid 1px #00FFFF;
    background: #313131;
    color: #00FFFF;
}
.dark .inp::placeholder {
    color: #00FFFF;
}

.dark .text-night {
    color: #00FFFF;
}
.dark .border-night {
    border: solid 1px #00FFFF;
}
.dark .btn-night {
    background: #00FFFF;
    color: black;
}
.dark .btn-night:hover {
    color: black;
}
.dark .btn-outline-night {
    border: solid 1px #00FFFF;
    color: #00FFFF;
}
.dark .btn-outline-night:hover {
    border: solid 1px #00FFFF;
    background: #00FFFF;
    color: black;
}