.light {
    background: #f1f1f1;
    color: fuchsia;
}

.light .link {
    text-decoration: none;
    color: blue;
}

.light .inp {
    border: solid 1px fuchsia;
    background: #f1f1f1;
    color: fuchsia;
}
.light .inp::placeholder {
    color: fuchsia;
}

.light .text-night {
    color: fuchsia;
}
.light .border-night {
    border: solid 1px fuchsia;
}
.light .btn-night {
    background: fuchsia;
    color: black;
}
.light .btn-night:hover {
    color: black;
}
.light .btn-outline-night {
    border: solid 1px fuchsia;
    color: fuchsia;
}
.light .btn-outline-night:hover {
    border: solid 1px fuchsia;
    background: fuchsia;
    color: black;
}