.light {
    background: white;
    color: black;
}

.light .link {
    text-decoration: none;
    color: blue;
}

.light .inp {
    border: solid 1px black;
    background: white;
    color: black;
}
.light .inp::placeholder {
    color: black;
}

.light .text-night {
    color: black;
}
.light .border-night {
    border: solid 1px black;
}
.light .btn-night {
    background: black;
    color: white;
}
.light .btn-night:hover {
    color: white;
}
.light .btn-outline-night {
    border: solid 1px black;
    color: black;
}
.light .btn-outline-night:hover {
    border: solid 1px black;
    background: black;
    color: white;
}

.mnu {
    border-right: solid 1px black;
}

.mnu a {
    color: black;
    text-decoration: none;
    /*padding: 20px;*/
}
.mnu a:hover {
    color: black;
    text-decoration: none;
}
.mnu li {
    padding: 5%;
}
.mnu li:hover {
    background: #f3f3f3;
}
.mnu .selected {
    font-weight: bold;
    background: #f1f1f1;
}
.mnu ul {
    display: block;
    padding: 1%;
    list-style: none;
}