.light {
    background: white;
    color: black;
}

.light .link {
    text-decoration: none;
    color: blue;
}

.light .inp {
    border: solid 1px black;
    background: white;
    color: black;
}
.light .inp::placeholder {
    color: black;
}

.light .text-night {
    color: black;
}
.light .border-night {
    border: solid 1px black;
}
.light .btn-night {
    background: black;
    color: white;
}
.light .btn-night:hover {
    color: white;
}
.light .btn-outline-night {
    border: solid 1px black;
    color: white;
}
.light .btn-outline-night:hover {
    border: solid 1px black;
    background: black;
    color: white;
}