@font-face {
    font-family: "iransans";
    src: url("../pack/iransans.ttf");
}

body {
    text-align: right;
    direction: rtl;
}

* {
    font-family: iransans;
}

.jnborder {
    border: solid 1px #000080 !important;
}

.jnbtn {
    background-color: #000080 !important;
    color: white !important;
    border: solid 1px #000080 !important;
}
.jnbtn:hover {
    opacity: 80%;
    color: white;
    border: solid 1px #000080;
}

.jnout {
    border: solid 1px #000080 !important;
    background-color: white !important;
    color: #000080 !important;
}
.jnout:hover {
    border: solid 1px #000080;
    background-color: #000080;
    color: white;
}

.jntext {
    color: #000080 !important;
}
.jntext:active {
    color: #000080;
}
.jntext:hover {
    color: #000080;
}

.mainform {
    padding: 5%;
    height: 100vh;
}

.gradiant {
    padding: 10%;
    color: white;
    background: linear-gradient(-45deg, purple, navy);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.formslink {
    color: navy;
    text-decoration: navy;
}
.formslink:hover {
    color: blue;
}

.errors {
    position: absolute;
    bottom: 0;
    padding: 20px;
    left: 0;
}

.hints {

}